{% extends 'base.html.twig' %}

{% block title %}Grade Administration{% endblock %}

{% block body %}
    <h1>Grade Administration</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Student</th>
                <th>Grade</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <td>{{ grade.id }}</td>
                <td>{{ grade.user }}</td>
                <td>{{ grade.grade }}</td>
                <td>{{ grade.comment }}</td>
                <td>
                    <a href="{{ path('grade_administration_show', {'id': grade.id}) }}">show</a>
                    <a href="{{ path('grade_administration_edit', {'id': grade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('grade_administration_new') }}">Create new</a>
{% endblock %}
