{% extends 'base.html.twig' %}

{% block title %}Subject Administration{% endblock %}

{% block body %}
    <h1>Subject Administration</h1>

    <table class="table" border="">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Teacher</th>
                <th>Register</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.id }}</td>
                <td>{{ subject.name }}</td>
                <td>{{ subject.teacher }}</td>
                <td>
                    {% for user in subject.registered %}
                        <a href="{{ path('user_administration_show', {'id': user.id}) }}">{{ user.username}}</a>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('subject_administration_show', {'id': subject.id}) }}">show</a>
                    <a href="{{ path('subject_administration_edit', {'id': subject.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('subject_administration_new') }}">Create new</a>
{% endblock %}
